.selectedProduct-main{
  padding: 20px;
}
.s-product-Top{
display: flex;
width: 100%;

}
.imgAndContent{
display: flex;
padding: 20px;

}
.p-image{
width: 400px;
height: 500px;
background-image: url('https://images.unsplash.com/photo-1618244972963-dbee1a7edc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
background-size: cover;
}
.p-content{


}