.selectedProduct-main{
  padding: 20px;
}
.s-product-Top{
display: flex;
width: 100%;
margin-left: 20px;

}
.imgAndContent{
display: flex;
padding: 20px;
padding-left: 50px;

}
.p-image{
width: 400px;
height: 500px;
background-image: url('https://images.unsplash.com/photo-1618244972963-dbee1a7edc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
background-size: cover;


}
.p-content{
padding-left: 100px;
padding-top: 40px;
display: flex;

}
.p-content-header h1{


}
.p-contnt-price{
  font-size: larger;
  font-style: italic;
  padding-top: 30px;
}
.p-quantity{
  display: flex;
  padding-top: 30px;
  padding-left: 50px;
}
.p-addtocartWishlist{
display: flex;
padding-top: 30px;
}
.sizes{
  padding-top: 5px;
}

.sizecomponent{
  padding: 20px;
  
}






.p-contnt-price{


}

.Realdiscount{
display: flex;
gap: 0.3em;

}

.realprice{


}

.price{


}

.mainptag{
  text-decoration: line-through; /* Add a strikethrough line */
  color: #888; /* Dull or gray color for the text */

}
.cpercent{
  color: green;
}

.discountpercent{


}

.discpercent{


}

.dpercenttag{

color: green;
font-style: normal;
}

.discountprice{


}

.discprice{


}

.dptag{


}

.couponline{


}

.couponprice{


}

.coupontag{

display: flex;
}



