
.header{
 display: flex;
  width: 100;
  height: 85px;
  align-items: center;
}

.brandlogo{
display: flex;
justify-content: center;
flex: 2;
}

.searchbar {
  display: flex;
  justify-content: center;
  flex: 4;
 
  padding: 10px;
  border-radius: 5px;
}

.search-input {
  width: 60%;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px; /* Adjust the value to control the degree of rounding */
}

.search-input:focus,
.search-button:focus {
  outline: none;
  border: none;
}


.searchbutton {
  margin-left: 4px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  border: none; /* Remove the border */
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  
}

.headIcons{
  display: flex;
  justify-content: flex-end;
  gap: 5px;
flex:2;
}
 .mob1{
  display: none !important;
}

.profileDetails{
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}
.user-name{
  margin-top: 18px;
  font-size: large;
}

.product-main{

  position: relative;
  }
.product-header{
 display: flex;
 position: absolute;
 top: 10px;
 right: 30px;
 gap: 10px;
}


  .topContent{

    display: flex;
  }
.sideBar{
 
padding: 30px;
padding-top: 10px;

}

.side-box{
flex: 1;

}
.a{
  position: sticky;
  top: 50px; 
  z-index: 1;
}
.b{
  position: sticky;
  top: 110px; 
 
}
.product-main-sub{
 
justify-content: center;
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  
}

/* .product-boxes {
  width: 300px;
  
  height: 400px;
  background-color: lightgray;
  transition: background-color 0.3s;
}

.product-boxes:hover {
  background-color: lightgray;
  animation: hover-effect 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes hover-effect {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
} */
.product-boxes {
  width: 300px;
  height: 400px;
  background-color: lightgray;
  
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* .product-boxes:hover {
  transform: scale(0.95); 
} */

.product-boxes:active {
  transform: scale(0.9); /* Further scale down on click */
  transition: transform 0.1s ease-in-out; /* Faster transition on click */
}





.product-img{

  width: 100%;
  height: 300px;
 

background-size: cover;

}
.product-box-footer{

position: relative;
padding: 5px;

}
.product-box-footer-top{
  display: flex;
}
.product-footer-top h3{
  display: inline-block;
}
.star-icon{
margin-top: 4px;
  position: absolute;
  right: 5px;
  top: 0;
}
.product-addcart{
position: absolute;
right: 0;
margin-right: 20px;
margin-top: 5px;


}




.footer{
  margin-top: 50px;
height: 500px;
width: 100%;
background-color: #4d1c1c;
}