@media (max-width: 767px) {

  .header{

  
  }

 /* In your external CSS file */
 .smallFab {
  display: none !important;
}
.smallFab-mobile{
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  border-radius: 50% !important;
  display: block;
}
.mob1{
display: flex;
padding: 0 !important;
width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  border-radius: 50% !important;
  display: block !important;
  
}
.headIcons{
  flex: 1;
  padding-left: 5%;
  /* justify-content: flex-end !important; */
}

.brandlogo{
  
}
.brandlogo h2{
  font-size: small;
}
.user-name{
  font-size: small;
  
  
}
.profileDetails{
flex: 3 !important;
justify-content: flex-start !important;
/* align-items: baseline !important; */
gap: 4px;

}
.searchbar {
  flex-direction: column;
  align-items: center;
}
.searchbutton{
  display: contents !important;
}
.search-input {
  width: 100%;
  margin-bottom: 10px;
}


  .product-main{

    position: relative;
    }
    .firmName{
      margin-top: 10px;
font-size: large;

    }
  .product-header{
   display: flex;
   position: relative;
   top: 10px;
   right: 30px;
   gap: 10px;
   
  }
  
  
    .topContent{
  
      display: flex;
      flex-direction: column;
    }
    .sortrating{
display: flex;

    }
  .sideBar{
   
  padding: 30px;
  padding-top: 10px;

  
  }
  
  .side-box{
  flex: 1;
  
  }
  .a{
    position: relative;
    top: 0; 
    z-index: 1;
  }
  .b{
    position: relative;
    top: 0; 
   
  }
  .product-main-sub{
   padding-left: 0;
   padding-top: 0;
  
    flex: 3;
    min-height: 1000px;
    gap:0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
  }
  
 
  .product-boxes {
    margin-top: 10px;
    width: 300px;
    height: 400px;
    background-color: lightgray;
    
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
 
  
  .product-boxes:active {
    transform: scale(0.9); /* Further scale down on click */
    transition: transform 0.1s ease-in-out; /* Faster transition on click */
  }
  
  
  
  
  
  .product-img{
  
    width: 100%;
    height: 300px;
   
  
  background-size: cover;
  
  }
  .product-box-footer{
  
  position: relative;
  padding: 5px;
  
  }
  .product-box-footer-top{
    display: flex;
  }
  .product-footer-top h3{
    display: inline-block;
  }
  .star-icon{
  margin-top: 4px;
    position: absolute;
    right: 5px;
    top: 0;
  }
  .product-addcart{
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 5px;
  
  
  }
  
  
  
  
  .footer{
    margin-top: 50px;
  height: 500px;
  width: 100%;
  background-color: #4d1c1c;
  }

}