.mainbox{
display: flex;
height: 100vh;
flex-wrap:wrap;
/* gap: 10px; */
justify-content: space-between;
}

.box{
 margin-left: 10px;
flex: 1;

height: 300px;
/* width: 100px; */
background-color: brown;
}

@media(max-width:768px){

  .mainbox{
   display: flex;
  
   
   
   gap: 10px;
  }

.box{

 width: 200px;
  height: 600px;
  background-color: brown;

}
/* .box:nth-child(n+3) {
  display: none;
} */
}