/* Add any global styles or resets here */

/* Header styles */
.AppBar {
  background-color: #3498db;
}

/* Logo text styles */
.MuiTypography-h6 {
  flex-grow: 1;
  font-size: 1.5rem;
}

/* Mobile menu styles */
.mobile-menu.hidden {
  display: none;
}

.mobile-menu.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Menu icon (hamburger) styles */
.MuiIconButton-root {
  color: white;
}

/* Icon button styles */
.MuiIconButton-root:hover {
  background-color: transparent; /* Remove hover background color */
}

/* Icon styles */
.MuiSvgIcon-root {
  font-size: 2rem;
  color: white;
}
