/* ProductTable.css */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
  
}

th, td {
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4CAF50;
  color: white;
}

/* .blurred {
  filter: blur(5px); 
} */

