.header-admin{
  
  display: flex;
  gap: 10px;
 padding: 10px;
 padding-top: 20px;
}
.header-right{
  display: flex;
  margin-left: 700px;
  gap: 5px;

}
.header-left{
display: inline-block;
}
.header-left h1 {
  margin-left: 10px;
}