.selectedProduct-main{
  padding: 20px;
}
.s-product-Top{
display: flex;
width: 100%;
margin-left: 20px;

}
.imgAndContent{
display: flex;
padding: 20px;
padding-left: 50px;

}
.p-image{
width: 250px;
height: 350px;
/* background-image: url('https://images.unsplash.com/photo-1618244972963-dbee1a7edc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80'); */
background-size: cover;


}
.p-content{
padding-left: 100px;
padding-top: 10px;
display: flex;

}
.p-content-header h1{


}
.p-contnt-price{
  font-size: larger;
  font-style: italic;
  padding-top: 10px;
}
.p-quantity{
  display: flex;
  padding-top: 30px;
  padding-left: 50px;
}
.p-addtocartWishlist{
display: flex;
padding-top: 30px;
padding-left: 65px;
}
.sizes{
  padding-top: 5px;
}

.sizecomponent{
  padding: 20px;
  
}