.selectedProduct-main{
  padding: 20px;
}
.s-product-Top{
display: flex;
width: 100%;
margin-left: 20px;

}
.imgAndContent{
display: flex;
padding: 20px;
padding-left: 50px;

}
.p-image{
width: 250px;
height: 350px;
/* background-image: url('https://images.unsplash.com/photo-1618244972963-dbee1a7edc95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80'); */
background-size: cover;


}
.p-content{
padding-left: 100px;
padding-top: 10px;
display: flex;

}
.p-content-header h1{


}
.p-contnt-price{
  font-size: larger;
  font-style: italic;
  padding-top: 10px;
}
.p-quantity{
  display: flex;
  padding-top: 30px;
  padding-left: 50px;
}
.p-addtocartWishlist{
display: flex;
padding-top: 30px;
padding-left: 65px;
}
.sizes{
  padding-top: 5px;
}

.sizecomponent{
  padding: 20px;
  
}
.coupontag{
  font-size: medium;
}

.applycouponbtnspan{
  display: flex;
  align-items: flex-end

}
.applycouponbtn {
  font-size: small;
  text-decoration: underline; /* Add underline to the text */
  cursor: pointer; /* Change the cursor to a pointer on hover */
}

.applycouponbtn:hover {
  color: #0066cc; /* Change the text color on hover (you can choose any color you prefer) */
  text-decoration: none; /* Remove the underline on hover (optional) */
}

.cartmain{
position: relative;

}
.couponcartbox{
  background-color: #fff;
  display: flex;
  flex-direction: column;
    border: 2px solid #000; 
    height: 80px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
margin-top: 180px;
margin-right: 550px;
position: fixed;
}
.closebtnspancart{
position: absolute;
right: 0;

}
.couponnamespan{

display: flex;
justify-content: center;

}
.couponInput{
display: flex;


}
.couponInputForm{
  width: 100%;
}
.couponspanbtn{
margin-left: 4em;

}

.blur {
  filter: blur(10px); /* Adjust the blur intensity as needed */
  pointer-events: none; 
}